<!-- hide when visibility return false or when question is hidden -->
<form class="form-group row" [formGroup]="commentForm">
  
  <!-- Attached label -->
  <label [attr.for]="name" class="col-sm-3 col-form-label" style="margin-top:10px">
    Name
  </label>
  <div class="col-sm-8">
    <input class="form-control form-control-sm top-margin-fields" 
      formControlName="name" style="margin-top:10px">
  </div>
  <label [attr.for]="text" class="col-sm-3 col-form-label" style="margin-top:10px">
    Comment
  </label>
  <div class="col-sm-8">
    <textarea class="form-control form-control-sm top-margin-fields" rows="5"
              formControlName="text" style="margin-top:10px"></textarea>
  </div>
</form>

<div class="col-sm-11" style="margin-left:10px;">
  <button (click)="submit()" id="load" style="float: right;"
          [className]="commentForm.valid && !isSending ? 'btn btn-success btn-sm btn-margin' : 'btn btn-secondary btn-sm btn-margin'"
          [disabled]="!commentForm.valid || isSending" [attr.loading]="isSending? '' : null">
    <div *ngIf="isSending">
      Saving <i class="fas fa-circle-notch fa-spin" style="color:white; font-size: 13px;"></i>
    </div>
    <div *ngIf="!isSending">
      Save
    </div>
  </button>
</div>
<br/><br/>

